/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap'); */

.jumbotron {
    height: 250px;
    color:rgb(230, 227, 227);
    background-color: rgb(18, 30, 66) !important;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}



#title { 
    color: rgb(245, 247, 247);
    /* font-family: 'Merriweather', serif; */
}

@media only screen and (max-width: 1000px) {

    .display-1 {
        font-size: 4rem !important;
    } 
}


@media only screen and (max-width: 680px) {

    .display-1 {
        font-size: 3rem !important;
    } 
}



@media only screen and (max-width: 500px) {

    .display-1 {
        font-size: 2.250rem !important
        
    }
   
}


@media only screen and (max-width: 375px) {

    .display-1  {

      font-size: 2rem !important;
    } 
}