.jumbotron {
    height: 250px;
    color:rgb(230, 227, 227);
    background-color: rgb(18, 30, 66) !important;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
   
}

/* h1 {
    font-style: italic;
} */

#title { 
    /* font: size 80px; */
    color: rgb(245, 247, 247);
    font-family: 'Merriweather', serif;
}