.form-control {
    color:#ed1c24;
    font-family: 'Times New Roman', Times, serif;
}
.quote {
    color: #ed1c24;
}
.img-fluid {
    width: 100%;
}
.form {
    text-align: center;
    border-radius: .8rem;
    margin-top: -200px;
    padding: 10px;
}
.title {
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}
.label {
    font-family: 'Times New Roman', Times, serif;
}
.container2 {
    background-color: white;
    border-radius: .8rem;
}