.form input {
    margin: 10px;
    height: 40px;

}
input {
    color:#ed1c24;
    font-family: 'Times New Roman', Times, serif;
}
.quote {
    color: #ed1c24;
}
.img-fluid {
    width: 100%;
}
.form {
    background-color: #121e42;
    text-align: center;
    border-radius: .8rem;
    margin-top: -150px;
    padding: 15px;
}
.title {
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
}