body{
    background-color: #121e42;
    margin: 20px;
  }
  .eventContainer{
    color: white;
    height: 800px;
    /* margin-top: 50px; */
  }
  .formContainer {
    border-radius: 25px;
    border: 2px solid #121e42;
    margin-top: -80px;
    margin-left: 2%;
    margin-right: 2%;
    margin: 0 auto;
    width: 60%;
    height: 650px;
    background-color: #121e42;
  }
  .headerJumbo{
    background: none;
    color: white;
    text-align: center;
  }
  .eventForm{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    border: 2px solid #121e42;
    background: white;
    height: 350px;
  }
  .eventName, .eventLink, .eventDate, .eventLocation{
    width: 180px;
    margin-left: 10px;
  }
  .eventDescription{
    /* width: 320px; */
    margin: auto;
  }
  ::placeholder{
    color: #ed1c24;
  }
  input{
    border: 1px solid black;
  }
  textarea::placeholder{
    color: #ed1c24;
  }
  .headerCreate{
    font-weight: 500;
  }
  .rowTesting{
    text-align: center;
  }