.newsInclusive {
  margin-left: 40px;
  margin-right: 40px;
}
h2 {
  color: #ed1c24;
  font-weight: 500;
}
.titleh3 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
 padding-top: 10px;
 color: black !important;
 height: 40px;
}
.newsContainer {
  border-radius: 25px;
  border: 2px solid #121e42;
  margin-top: -80px;
  margin-left: 2%;
  margin-right: 2%;
  margin: 0 auto;
  width: 100%;
  height: 350px;
  background-color: orange;
}
.fontColor{
  color: black;
}
.Atag{
  width: 100%;
  height: 100%;
}
.Size{
  display: block;
  width: 80%;
}
