.cardBackground {
  padding: 15px;
  margin-bottom: 8%;
  margin-top: 8%;
  background-image: url("../../assets/images/capitolpaper.png");
}
.card-title {
  text-align: center;
  font-weight: 900;
}
.card-subtitle {
  text-align: center;
}
/* .buttonColumn {
  text-align: center;
} */
