.form input {
    margin: 10px;
    height: 40px;
    width: 90%;
}
.quote {
    color: #ed1c24;
}
.img-fluid {
    width: 100%;
}
.form {
    background-color: #121e42;
    text-align: center;
    border-radius: .8rem;
    margin-top: -50px;
}
.form-group {
    background-color: #ed1c24;
    border-radius: .8rem;
}
.title {
    font-size: 75px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.container2 {
    background-color: white;
    border-radius: .8rem;
}